{% extends 'base.html.twig' %}

{% block body %}
    <ul class="thumbnails">
        {% for gallery in galleries if gallery != null %}
            <li class="span3">
                <a href="{{ app.request.basepath }}/view/{{ gallery.name }}/{{ gallery.image }}" class="thumbnail" title="{{ gallery.name }}">
                    <img src="{{ app.request.basepath }}/galleries/{{ gallery.name }}/{{ gallery.image }}" alt="">
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

