{% extends 'base.html.twig' %}

{% block body %}
    {% if title is defined %}
        <div class="row">
            <div class="span12">
                <legend>
                    <h3>{{ title }}</h3>
                </legend>
            </div>
        </div>
    {% endif %}

    {% if messages is defined %}
        {% for message in messages %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <ul class="thumbnails" id="overview">
        {% for gallery in galleries if gallery != null %}
            <li class="span3">
                <a href="{{ app.request.basepath }}/view/{{ gallery.name|replace({' ': '_'})|lower }}/{{ gallery.getCoverImage.getHash }}" class="thumbnail" title="{{ gallery.images|length }} images">
                    <img src="{{ app.request.basepath }}/thumbnail/{{ gallery.getCoverImage.getHash }}" alt="">
                    <span class="caption">
                        {{ gallery.name }}
                    </span>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

