{% extends 'base.html.twig' %}

{% block body %}
    <div class="row" style="margin-bottom: 10px">
        <div class="span8">
            <ul class="thumbnails">
                <div class="thumbnail span8">
                    <img src="{{ app.request.basepath }}/image/{{ image.hash }}" alt="">
                </div>
            </ul>
        </div>
        <div class="span4">
            <legend>
                <h1>{{ gallery.name }}</h1>
            </legend>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="2">Image information</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Width</td>
                        <td>{{ image.width }}</td>
                    </tr>
                    <tr>
                        <td>Height</td>
                        <td>{{ image.height }}</td>
                    </tr>
                    <tr>
                        <td>Bit depth</td>
                        <td>{{ image.bitDepth }}</td>
                    </tr>
                    <tr>
                        <td>Channels</td>
                        <td>{{ image.channels }}</td>
                    </tr>
                    <tr>
                        <td>MIME-type</td>
                        <td>{{ image.mimeType }}</td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-block btn-large" style="margin-bottom: 10px"><i class="icon-download"></i> Download album</a>
        </div>
    </div>
    <ul class="thumbnails">
        {% for image in gallery.images %}
            <li class="span2">
                <a href="{{ app.request.basepath }}/view/{{ gallery.ident }}/{{ image.hash }}" class="thumbnail">
                    <img src="{{ app.request.basepath }}/thumbnail/{{ image.hash }}" alt="">
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

